<div class='view_contacts'>  
    <div class="col-sm-6 col-md-8">
        <div class="thumbnail contact">                                    
            <div class="caption">

                <div class="panel panel_margin_fix panel-info">
                    <div class="panel-heading">                                
                        <div class='icon_positioning'>
                            <a ng-click="showImageUpload()"><i id="upload_icon" class="fa fa-upload" aria-hidden="true"></i></a>
                            <a ng-click="changeFavorite(contact, contact.id)"><i id="star" ng-class="{'fa fa-star-o': !contact.favorite, 'fa fa-star': contact.favorite}" aria-hidden="true"></i></a>
                            <a><i id="magnifying" class="fa fa-search" aria-hidden="true"></i></a>
                            <a ng-click="editContact(contact.id)"><i id="pencil" class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a ng-click="deleteContact(contact.id)"><i id="trash" class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                        <h1 class="panel-title">{{contact.name_first}} {{contact.name_last}}</h1>
                    </div>
                    <div class="panel-body">
                            <form ng-show="!noImage">
                                <div ng-show="!hideUploadOptions()">
                                    <strong>Select a Picture</strong>
                                    <input type="file" ng-model="pic" name="pic" base-sixty-four-input onload="onLoad" accept="image/*">
                                </div>
                                <div>
                                    <img ng-class="{'img_size': pic}" src="data:{{pic.filetype}};base64,{{pic.base64}}">
                                </div>
                                <div ng-show="!hideUploadOptions()">
                                    <button class="btn btn-default btn-sm" ng-click="addPic(contact, contact.id)">Submit</button>                                
                                </div>
                            </form>
                        <div ng-show="contact.filetype">
                            <img ng-class="{'img_size': contact.filetype}" src="data:{{contact.filetype}};base64,{{contact.base64}}">
                        </div>
                        <h4><i class="fa fa-info" aria-hidden="true"></i> Contact details</h4>
                        <p class='phone'><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone}}</p>
                        <p class='address'><i class="fa fa-address-card" aria-hidden="true"></i> {{contact.address}}</p>
                        <p class='birthday'><i class="fa fa-calendar" aria-hidden="true"></i> {{contact.birthday}}</p>
                        <p class='company'><i class="fa fa-briefcase" aria-hidden="true"></i> {{contact.company}}</p>
                        <p class='email'><i class="fa fa-envelope" aria-hidden="true"></i> {{contact.email}}</p>      
                    </div>      

                </div>            
            </div>
        </div>
    </div>
</div>