<div class='' id='view_contacts'>
    <h1>Contacts</h1>
    <div id='contacts'>
        <div ng-repeat="contact in contacts" class="col-sm-6 col-md-4 movie">
            <div class="thumbnail">                                    
                <div class="caption">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{contact.name_first}} {{contact.name_last}}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>Contact details</h4>
                            <p class='phone'>Phone: {{contact.phone}}</p>
                            <p class='address'>Address: {{contact.address}}</p>
                            <p class='birthday'>Birthday: {{contact.birthday}}</p>
                            <p class='company'>Company: {{contact.company}}</p>
                            <p class='email'>Email: {{contact.email}}</p>      
                        </div>
                    </div>
                    <button ng-click="deleteContact(contact.id)" class='btn btn-danger'>Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>