body {
  background-color: #ebebeb; }

a {
  color: black; }

#nav_container {
  width: 12%; }
  #nav_container .nav_margin_fix {
    margin: 10px 25px; }
  #nav_container .nav-stacked > li > a {
    border-radius: 0px; }
  #nav_container .nav-pills > li > a {
    border-radius: 0px;
    width: 100%; }
  #nav_container .contacts_nav {
    padding-top: 1em; }
  #nav_container .nav > li > a:focus, #nav_container .nav > li > a:hover {
    text-decoration: none;
    background-color: #3a3a3a; }

a:focus, a:hover {
  color: #ffffff;
  text-decoration: underline; }

#new_contact .align_left {
  position: relative;
  right: 230px;
  margin-bottom: 15px; }
